body {
    text-align: center;
    background-image: url(../images/background.jpg);
    background-size: 100%;
    color: rgb(61, 228, 240);
    font-size: 20px;
    font-weight: bold; 
    max-width: 960px;
    margin: auto;    
}
.background {
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    background: rgba(75, 75, 75, 0.9);
}

label, input[type="radio"] {
    text-align: center;
}
    
h2{
    vertical-align: left;
}

p {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: greenyellow;
    font-style: italic;
}
    

#bowl {
    max-width: 500px;
    border-radius: 25px;
}

.scoreClass {
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    padding-bottom: 40px;
}

input {
    opacity: none;
    margin-left:10px;
}

button{
    margin-bottom: 40px;
}

.display-3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    padding: 20px;
    color: #68d4b0;
}

.display-4 {
    padding: 20px;
    font-family: fantasy;
    color: red
}

h2 {
    color: greenyellow;
}

button {
    font-size: 20px;
    background-color: bisque;
font-family: cursive;}


@media (max-width: 640px ) {

    #bowl {
        width: 80%;
          
    }

    .background {
        width: 90%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px; 
    }
}
